.body-container {
  background: rgba(243, 243, 243, 1);
  overflow: auto;
  max-height: 50vh;
}

.accordion-container {
  padding: 1.5rem;
  height: 100%;
  overflow: auto;
  box-shadow: inset 0px 5px 6px 5px #d8d8d8;
}

.accordion-item {
  margin: 10px 0;
}

.header-container {
  padding: 1rem;
  width: 100%;
}

.button-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customize-button {
  justify-self: flex-end;
  background: none;
  border: none;
}
